<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar CRM Interno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2 style="color: #004b84;">Registrar CRM Interno</h2>
        <form method="POST" action="{{ url_for('register_in_crm') }}">
            <label for="user">Usuário:</label>
            <input type="text" name="user" id="user" required>
            <label for="model">Modelo:</label>
            <input type="text" name="model" id="model" required>
            <label for="sn">SN:</label>
            <input type="text" name="sn" id="sn" required>
            <label for="description">Descrição:</label>
            <textarea name="description" id="description" required></textarea>
            <label for="solution">Solução:</label>
            <textarea name="solution" id="solution" required></textarea>
            <label for="assigned_to">Atribuído Para:</label>
            <select id="assigned_to" name="assigned_to">
                <option value="Carlos Queiroz">Carlos Queiroz</option>
                <option value="Carlos Lima">Carlos Lima</option>
                <option value="Luís Alberto">Luís Alberto</option>
                <option value="Jonathan Maldini">Jonathan Maldini</option>
                <option value="Marco Túlio">Marco Túlio</option>
            </select><br><br>

            <button type="submit" class="btn">Registrar CRM</button>
        </form>
    </div>
</body>
</html>
