<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Suporte ViaCast</h1>
        <a href="{{ url_for('register_crm') }}"><button class="btn">Registrar CRM Externo</button></a>
        <br><br>
        <a href="{{ url_for('register_in_crm') }}"><button class="btn">Registrar CRM Interno</button></a>
        <br><br>
        <a href="{{ url_for('grafico') }}"><button class="btn">Visualizar Gráfico</button></a>
        <br><br>
        <a href="{{ url_for('listar_registros_ex') }}"><button class="btn">Registros</button></a>
    </div>
</body>
</html>
